---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero';
import ServiceCard from '../components/ServiceCard';
import AccordionFAQ from '../components/AccordionFAQ';
import Contact from '../components/sections/Contact';
import Services from '../components/sections/Services';
import About from '../components/sections/About';
import Title from '../components/Title';
import Section from '../components/Section';
---

<Layout title="Od. Angela Villamizar">
    <Hero client:visible />
    <Services client:visible />
    <About client:visible />
    <Contact client:visible />
    <Section id="FAQ" className="flex flex-col items-center justify-center" client:visible>
        <Title>Preguntas Frecuentes</Title>
        <div class="max-w-3xl mx-auto">
            <AccordionFAQ client:visible />   
        </div>
    </Section>
</Layout>